{{>logged-header}}

<div class="container-fluid">
    {{#each yourPosts as |post|}}
    {{!-- loop through posts retrieved for logged in user and create template that allows you to click and edit --}}
    {{/each}}
</div>