body {
    background-color: gray;
}

header {
    color: aliceblue;
}

.post-format {
    border: 2px solid black;
    border-radius: 5px;
    color: white;
}

.post-format:hover {
    border-style: inset;
    cursor: pointer;
}

.post-format h3 {
    background-color: darkslategrey;
}

.post-format p {
    position: relative;
    background-color: white;
    color: black;
    border-radius: 5px;
    max-width: 800px;
    left: 50%;
    transform: translateX(-50%);
}

.post-divider-full {
    border: 1px solid black;
    width: 100%;
}

.post-divider-partial {
    border: 1px solid black;
    width: 60%;
}

.post-dashboard {
    background-color: darkslategrey;
}

.single-post {
    background-color: darkslategrey;
    border-radius: 5px;
    color: white;
}

.single-post p {
    background-color: white;
    color: black;
    border-radius: 5px;
    max-width: 1200px;
}

.comment-on {
    border: 2px solid black;
    color: white;
}

.comment-on h5 {
    background-color: darkslategrey;
}

.comment-on p {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.form-group {
    position: relative;
}

.form-group label {
    display: inline-block;
    width: 150px;
    text-align: center;
}

.form-group button {
    width: 15%;
}

#create-post {
    width: 20%;
    margin-left: 40%;
    background-color: darkslategrey;
    border-color: black;
    color: white;
    border-style: solid;
}

#create-post:hover {
    border-style: inset;
}

#comments-toggle {
    width: 150px;
}

#edit-post {
    width: 60%;
}