body {
    background-color: gray;
}

header {
    color: aliceblue;
}

.post-format {
    border: 2px solid black;
    color: white;
}

.post-format:hover {
    border-style: inset;
    cursor: pointer;
}

.post-format h3 {
    background-color: darkslategrey;
}

.post-divider {
    border: 1px solid black;
    width: 60%;
    margin-left: 20%;
}

.form-group {
    position: relative;
    width: 65%;
    margin-left: 15%;
}

.form-group label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.form-group button {
    width: 30%;
    margin-left: 5%;
}